name: Docker Publish

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/docker-publish.yml"
      - "app/**"
      - "public/**"
      - "server/**"
      - "types/**"
      - "Dockerfile"
      - "nuxt.config.ts"
      - "package.json"
      - "pnpm-lock.yaml"
      - "tsconfig.json"
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-push:
    name: Build and Push (Docker Hub)
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Build and push image
        uses: docker/build-push-action@601a80b39c9405e50806ae38af30926f9d957c47 # v6
        with:
          push: true
          sbom: true
          provenance: mode=max
          platforms: linux/amd64,linux/arm64
          tags: ${{ vars.DOCKERHUB_USERNAME }}/hthompson:latest
          labels: org.opencontainers.image.source=${{ github.repository }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
